@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Work Sans;
}
:root{
    --first-color: #FF42A5;
    --second-color: #4EC5F7;
    --third-color: rgba(255, 66, 165, 0.03);
}

/* nav section starts here  */
/* nav{
    border: 2px solid red;
    min-height: 100px;
}  */
.logo-container{
    /* border: 2px solid blue; */
    width: 50%;
    /* min-height: 100px; */
    display: flex;
    align-items: center;
}
.menu-container{
    /* border: 2px solid green; */
    width: 50%;
    /* min-height: 50px; */
    justify-content: right;
    display: flex;
    gap: 32px;
    align-items: center;
    color: #3C354F;
}
.nav-bar-section{
    display: flex;
    align-items: center;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 auto;
    padding: 35px 100px 35px 100px;
}
.logo img{
    width: 80px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-title-pink{
    color: var(--first-color, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.menu-items{
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}
.menu-items ul{
    display: flex;
}
.menu-items li{
    list-style: none;
}
.menu-items a{
    text-decoration: none;
}
.about-us-item{
    margin-right: 32px;
}
.follow-icon{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}
.follow-title{
    color: #3C354F;
    margin-right: 20px;
}
.follow-youtube{
    margin-right: 10px;
}
/* nav section ends here  */
/* play like the g.o.a.t. styles starts here */
.goat-section{
    /* border: 2px solid red; */
    /* min-height: 200px; */
    display: flex;
    /* padding-left: 100px; */
    padding-right: 100px;
    
}
.goat-left-column{
    /* border: 2px solid blue; */
    width: 50%;
    /* min-height: 200px; */
    background-image: url('../images/Group14.png');
    background-repeat: no-repeat;
    background-size: 620px 800px;
}
.goat-right-column{
    /* border: 2px solid green; */
    width: 50%;
    /* min-height: 50px; */
}
.goat-left-column-contents{
    width: 50%;
    margin: 200px 100px;
}
.goat-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.goat-subtitle{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.93rem;
    font-weight: 800;
}
.goat-text{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}
.goat-btn{
    display: flex;
    gap: 24px;
}
.btn-first{
    background-color: var(--first-color, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    border-radius: 3rem;
    padding: 15px 30px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    
}
.btn-second{
    background-color: var(--second-color);
    border: none;
    border-radius: 3rem;
    padding: 15px 30px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}
.goat-right-column img{
    width: 100%;
    height: 50rem;
    margin: 0px auto;
}
/* play like the g.o.a.t. styles ends here */
/* we are gamer section styles starts here  */

.we-are-gamer-section{
    /* border: 2px solid red; */
    /* min-height: 50px; */
    display: flex;
    background: var(--third-color, linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%));
}
.we-are-gamer-image{
    /* border: 2px solid blue; */
    /* min-height: 50px; */
    width: 60%;
    
    
}
.we-are-gamer-image img{
    width: 500px;
    height: 300px;
    margin: 50px 0px 50px 300px;
}
.we-are-gamer-description{
    /* border: 2px solid black; */
    /* min-height: 50px; */
    width: 40%;
    text-align: right;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.we-are-gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}
.we-are-gamer-text{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 32px;
}
.gamer-purpose{
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 700;
    color: #534C64;
}
.gamer-quote{
    font-size: 1.5rem;
    font-weight: 700;
    color: #534C64;
}
/* we are gamer section styles ends here  */
/* online game section style starts here  */
.online-games-card{
    width: 250px;
    height: 400px;
}
.online-games-card img{
    width: 250px;
    height: 300px;
    display: block;
}
.online-games-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 65px;
    margin-top: 20px;
}
.online-games-card img:hover{
    border: 2px solid red;
}
.online-games-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 16px;
}
.online-games-title-purple{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.online-games-text{
    text-align: center;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
}

/* online game section style ends here  */
/* play instantly section styles starts  */

.play-instantly-section{
    display: flex;
    gap: 120px;
    margin-top: 50px;
}
.play-instantly-image-one{
    width: 400px;
    height: 500px;
    margin-left: 60px;
    position: relative;
}
.play-instantly-image-two{
    width: 250px;
    height: 300px;
    position: absolute;
    left: 50%;
    bottom: -330%;
}
.play-instantly-text{
    width: 50%;
    text-align: right;
    margin: 150px auto;
}
.play-instantly-image{
    width: 50%;
}
.play-instantly-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.play-instantly-title-two{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.play-instantly-description{
    margin-top: 24px;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    width: 50%;
    margin-left: 300px;
}

/* play instantly section styles ends  */
/* play games online section styles starts  */

.play-games-online-section{
    display: flex;
    gap: 120px;
    margin-top: 50px;
}
.play-games-online-image-one{
    width: 400px;
    height: 500px;
    margin-left: 130px;
    position: relative;
}
.play-games-online-image-two{
    width: 250px;
    height: 300px;
    position: absolute;
    right: 52%;
    bottom: -440%;
}
.play-games-online-text{
    width: 50%;
    text-align: left;
    margin: 150px auto;
}
.play-games-online-image{
    width: 50%;
}
.play-games-online-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.play-games-online-title-two{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.play-games-online-description{
    margin-top: 24px;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    width: 50%;
    margin-right: 300px;
}

/* play games online section styles ends  */
/* types of game section styles  */
.types-of-games-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 50px;
    /* border: 1px solid green;
    min-height: 50px; */
}
.game-types-row-one{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 20px;
}
.game-types-row-one-column-one{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-one-column-two{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-one-column-three{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-one-column-four{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-one-column-five{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}

.game-types-row-two{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.game-types-row-two-column-one{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-two-column-two{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-two-column-three{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
.game-types-row-two-column-four{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
}
/* game types hover  */
.game-types-row-one-column-one:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-one-column-two:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-one-column-three:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-one-column-four:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-one-column-five:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-two-column-one:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-two-column-two:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-two-column-three:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}
.game-types-row-two-column-four:hover{
    color: var(--first-color);
    border-color: var(--first-color);
}

/* footer section styles  */
.footer-section{
    background-color: #0B0223;
}
.footer-logo{
    margin-top: 100px;
    margin-left: 550px;
    padding-top: 100px;
}
.logo-title .amer{
    color: white;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    padding: 20px;
}
.terms-conditions-policy{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 320px;
    margin-right: 300px;
    margin-top: 50px;
}
.copywrite{
    color: white;
    margin-left: 450px;
    margin-right: 300px;
    margin-top: 50px;
}












/* Responsive web design  */
/* /* mobile section  * */
@media screen and (max-width: 576px){
    /* nav section responsive  */
    .nav-bar-section{
        flex-direction: column;
        padding-left: 10px;
    }
    .menu-container{
        flex-direction: column;
        width: 100%;
    }
    .menu-items ul{
        flex-direction: column;
        gap: 20px;
        margin-left: 110px;
        margin-top: 50px;
        
    }
    .follow-icon{
        margin-left: 90px;
        padding: 15px 20px 15px 20px;
    }
    .about-us-item{
        margin-left: 10px;
    }
    .follow-title{
        color: #3C354F;
        margin-right: 10px;
    }
    .follow-youtube{
        margin-right: 5px;
    }
    /* goat section responsive  */
    .goat-section{
        flex-direction: column-reverse;
        padding-right: 0px;
    }
    .goat-right-column{
        width: 80%;
        margin-left: 10px;
    }
    .goat-right-column img{
        width: 400px;
        height: 400px;
    }
    .goat-left-column{
        width: 100%;
        background-size: 400px 450px;
    }
    .goat-left-column-contents{
        width: 80%;
        margin: 20px 10px 10px 50px;
    }
    /* we are gamer section responsive  */
    .we-are-gamer-section{
        flex-direction: column;
        background-color: white;
        width: 80%;
    }
    .we-are-gamer-image{
        width: 100%;
    }
    .we-are-gamer-image img{
        width: 350px;
        height: 250px;
        margin: 30px 30px 30px 40px;
    }
    .we-are-gamer-description{
        width: 80%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 50px;
    }
    .we-are-gamer-title{
        margin-left: 40px;
    }
    .we-are-gamer-text{
        margin-left: 40px;
    }
    .gamer-quote{
        font-size: 1rem;
    }
    .we-are-gamer-description .btn-first{
        margin-left: 40px;
    }
    .gamer-purpose{
        margin-left: 40px;
    }
    .gamer-quote{
        margin-left: 17px;
    }

    /* online games section resoponsive  */
    .online-games-title{
        font-size: 1.25rem;
    }
    .online-games-title-purple{
        font-size: 1.25rem;
    }
    .online-games-text{
        font-size: 0.75rem;
    }
    .online-games-cards-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        margin-left: 45px;
    }
    /* play instantly section responsive */
    .play-instantly-section{
        flex-direction: column;
        margin-top: 0px;
    }
    .play-instantly-image-one{
        width: 300px;
        height: 400px;
        margin-left: 100px;
        position: relative;
    }
    .play-instantly-image-two{
        width: 200px;
        height: 250px;
        position: absolute;
        left: 5%;
        bottom: -840%;
    }
    .play-instantly-text{
        width: 100%;
        text-align: center;
        margin: 150px auto;
    }
    .play-instantly-image{
        width: 50%;
    }
    .play-instantly-title{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-instantly-title-two{
        color: #0B0223;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-instantly-description{
        margin-top: 24px;
        color: #534C64;
        font-size: 1.125rem;
        font-weight: 400;
        width: 100%;
        margin-left: 10px;
    }
    /* play games online responsive  */
    .play-games-online-section{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .play-games-online-image-one{
        width: 300px;
        height: 400px;
        margin-left: 10px;
        position: relative;
    }
    .play-games-online-image-two{
        width: 200px;
        height: 250px;
        position: absolute;
        right: 5%;
        bottom: -1100%;
    }
    .play-games-online-text{
        width: 50%;
        text-align: center;
        margin: 150px auto;
    }
    .play-games-online-image{
        width: 50%;
    }
    .play-games-online-title{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-games-online-title-two{
        color: #0B0223;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-games-online-description{
        margin-top: 24px;
        color: #534C64;
        font-size: 1.125rem;
        font-weight: 400;
        width: 100%;
        margin-right: 10px;
    }
    /* game types responsive  */
    .game-types-row-one{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 150px;
    }
    .game-types-row-two{
        grid-template-columns: repeat(2, 1fr);
    } 
    /* footer responsive  */

    .footer-logo{
        margin-top: 10px;
        margin-left: 60px;
        padding-top: 10px;
    }
    .footer-menu{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        color: white;
        margin-left: 60px;
        /* margin-right: 300px; */
        /* margin-top: 50px; */
    }
    .footer-icon{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        background-color: antiquewhite;
        margin-left: 60px;
        /* margin-right: 300px; */
        /* margin-top: 50px; */
        /* padding: 20px; */
    }
    .terms-conditions-policy{
        color: white;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 60px;
        /* margin-right: 300px; */
        margin-top: 50px;
    }
    .copywrite{
        font-size: 1rem;
        color: white;
        margin-left: 20px;
        /* margin-right: 300px; */
        /* margin-top: 50px; */
    }
    
    

    
    
}
/* Tablet section  */
@media screen and (min-width: 576px) and (max-width: 960px){
    /* nav section responsive  */
    .nav-bar-section{
        flex-direction: column;
        padding-left: 10px;
    }
    .logo-container{
        margin-left: 150px;
    }
    .menu-container{
        flex-direction: column;
        width: 100%;
    }
    .menu-items ul{
        flex-direction: column;
        gap: 20px;
        margin-left: 110px;
        margin-top: 50px;
    }
    .follow-icon{
        margin-left: 100px;
    }
    .about-us-item{
        margin-left: 10px;
    }
    /* goat section responsive  */
    .goat-section{
        flex-direction: column-reverse;
        padding-right: 0px;
    }
    .goat-right-column{
        width: 70%;
        margin-left: 180px;
    }
    .goat-right-column img{
        width: 400px;
        height: 400px;
    }
    .goat-left-column{
        width: 80%;
        background-size: 500px 400px;
        margin-left: 150px;
    }
    .goat-left-column-contents{
        width: 70%;
        margin: 20px 10px 10px 50px;
    }
    /* we are gamer section responsive  */
    .we-are-gamer-section{
        flex-direction: column;
        background-color: white;
        width: 80%;
    }
    .we-are-gamer-image{
        width: 100%;
    }
    .we-are-gamer-image img{
        width: 350px;
        height: 250px;
        margin: 30px 30px 30px 200px;
    }
    .we-are-gamer-description{
        width: 80%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 130px;
    }
    /* online games section resoponsive  */
    .online-games-title{
        font-size: 2rem;
    }
    .online-games-title-purple{
        font-size: 1.25rem;
    }
    .online-games-text{
        font-size: 0.75rem;
    }
    .online-games-cards-container{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 60px;
    }
    /* play instantly section responsive */
    .play-instantly-section{
        flex-direction: column;
        margin-top: 0px;
    }
    .play-instantly-image-one{
        width: 300px;
        height: 400px;
        margin-left: 350px;
        position: relative;
    }
    .play-instantly-image-two{
        width: 200px;
        height: 250px;
        position: absolute;
        left: 30%;
        bottom: -470%;
    }
    .play-instantly-text{
        width: 100%;
        text-align: center;
        margin: 150px auto;
    }
    .play-instantly-image{
        width: 50%;
    }
    .play-instantly-title{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-instantly-title-two{
        color: #0B0223;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-instantly-description{
        margin-top: 24px;
        color: #534C64;
        font-size: 1.125rem;
        font-weight: 400;
        width: 100%;
        margin-left: 10px;
    }
    /* play games online responsive  */
    .play-games-online-section{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .play-games-online-image-one{
        width: 300px;
        height: 400px;
        margin-left: 130px;
        position: relative;
    }
    .play-games-online-image-two{
        width: 200px;
        height: 250px;
        position: absolute;
        right: 30%;
        bottom: -640%;
    }
    .play-games-online-text{
        width: 50%;
        text-align: center;
        margin: 150px auto;
    }
    .play-games-online-image{
        width: 50%;
    }
    .play-games-online-title{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-games-online-title-two{
        color: #0B0223;
        font-size: 3rem;
        font-weight: 700;
    }
    .play-games-online-description{
        margin-top: 24px;
        color: #534C64;
        font-size: 1.125rem;
        font-weight: 400;
        width: 100%;
        margin-right: 10px;
    }
    /* game types responsive  */
    .game-types-row-one{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 150px;
    }
    .game-types-row-two{
        grid-template-columns: repeat(2, 1fr);
    } 
    /* footer responsive  */

    .footer-logo{
        margin-top: 10px;
        margin-left: 60px;
        padding-top: 10px;
    }
    .footer-menu{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        color: white;
        margin-left: 100px;
        /* margin-right: 300px; */
        margin-top: 50px;
    }
    .footer-icon{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        background-color: antiquewhite;
        margin-left: 100px;
        /* margin-right: 300px; */
        margin-top: 50px;
        /* padding: 20px; */
    }
    .terms-conditions-policy{
        color: white;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-left: 100px;
        /* margin-right: 300px; */
        margin-top: 50px;
    }
    .copywrite{
        font-size: 1rem;
        color: white;
        margin-left: 100px;
        /* margin-right: 300px; */
        margin-top: 50px;
    }
    
}